In [95]:
!pip3 install pandas
!pip3 install SQLAlchemy
!pip3 install PyMySQL
!pip3 install pyodbc
!pip3 install seaborn
import seaborn as sns
import numpy as np
import pymysql
from urllib.parse import quote 
import mysql.connector
import sqlalchemy
from sqlalchemy.engine import create_engine
import pandas as pd

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /Users/parvashah/Library/Python/3.9/lib/python/site-packages (1.5.2)
Requirement already satisfied: pytz>=2020.1 in /Users/parvashah/Library/Python/3.9/lib/python/site-packages (from pandas) (2022.6)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/parvashah/Library/Python/3.9/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.20.3 in /Users/parvashah/Library/Python/3.9/lib/python/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.15.0)
WARNING: You are using pip version 21.2.4; however, version 22.3.1 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: SQLAlchemy in /Users/parvashah/Library/Python/3.9/lib/python/site-packages (1.4.44)
WARNING: You are using pip version 21.2.4; however, version 22.3.1 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: PyMySQL in /Users/parvashah/Library/Python/3.9/lib/python/site-packages (1.0.2)
WARNING: You are using pip version 21.2.4; however, version 22.3.1 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyodbc in /Users/parvashah/Library/Python/3.9/lib/python/site-packages (4.0.35)
WARNING: You are using pip version 21.2.4; however, version 22.3.1 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Defaulting to user installation because normal site-packages is not writeable
Collecting seaborn
  Downloading seaborn-0.12.1-py3-none-any.whl (288 kB)
     |████████████████████████████████| 288 kB 554 kB/s eta 0:00:01
Collecting matplotlib!=3.6.1,>=3.1
  Downloading matplotlib-3.6.2-cp39-cp39-macosx_11_0_arm64.whl (7.2 MB)
     |████████████████████████████████| 7.2 MB 868 kB/s eta 0:00:01
Requirement already satisfied: numpy>=1.17 in /Users/parvashah/Library/Python/3.9/lib/python/site-packages (from seaborn) (1.23.5)
Requirement already satisfied: pandas>=0.25 in /Users/parvashah/Library/Python/3.9/lib/python/site-packages (from seaborn) (1.5.2)
Requirement already satisfied: pyparsing>=2.2.1 in /Users/parvashah/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Collecting cycler>=0.10
  Downloading cycler-0.11.0-py3-none-any.whl (6.4 kB)
Collecting contourpy>=1.0.1
  Downloading contourpy-1.0.6-cp39-cp39-macosx_11_0_arm64.whl (226 kB)
     |████████████████████████████████| 226 kB 2.3 MB/s eta 0:00:01
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.4.4-cp39-cp39-macosx_11_0_arm64.whl (63 kB)
     |████████████████████████████████| 63 kB 6.1 MB/s eta 0:00:011
Collecting fonttools>=4.22.0
  Downloading fonttools-4.38.0-py3-none-any.whl (965 kB)
     |████████████████████████████████| 965 kB 5.2 MB/s eta 0:00:01
Collecting pillow>=6.2.0
  Downloading Pillow-9.3.0-cp39-cp39-macosx_11_0_arm64.whl (2.9 MB)
     |████████████████████████████████| 2.9 MB 5.1 MB/s eta 0:00:01
Requirement already satisfied: packaging>=20.0 in /Users/parvashah/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (21.3)
Requirement already satisfied: python-dateutil>=2.7 in /Users/parvashah/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/parvashah/Library/Python/3.9/lib/python/site-packages (from pandas>=0.25->seaborn) (2022.6)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.15.0)
Installing collected packages: pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib, seaborn
  WARNING: The scripts fonttools, pyftmerge, pyftsubset and ttx are installed in '/Users/parvashah/Library/Python/3.9/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
Successfully installed contourpy-1.0.6 cycler-0.11.0 fonttools-4.38.0 kiwisolver-1.4.4 matplotlib-3.6.2 pillow-9.3.0 seaborn-0.12.1
WARNING: You are using pip version 21.2.4; however, version 22.3.1 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.

In [87]:
#connect to mysql servel
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Parvashah@123",
  database="yelpdb"
)

print(mydb)

mycursor = mydb.cursor()

<mysql.connector.connection_cext.CMySQLConnection object at 0x5475bbee0>

In [88]:
# Create a an engine for more optimized insertion of data through SQLalchemy
constring = 'mysql+mysqlconnector://root:%s@localhost:3306/yelpdb' % quote('Parvashah@123')
dbEngine = sqlalchemy.create_engine(constring, connect_args={'connect_timeout': 10}, echo=False)

In [89]:
# Testing the connection of the engine
try:
    with dbEngine.connect() as con:
        con.execute("SELECT 1")
    print('engine is valid')
except Exception as e:
    print(f'Engine invalid: {str(e)}')

engine is valid

In [42]:
# Table Creeation
# create business table
mycursor.execute("DROP TABLE IF EXISTS business")
mycursor.execute("CREATE TABLE business (business_id VARCHAR(255) PRIMARY KEY, name VARCHAR(255), address VARCHAR(255), city VARCHAR(255), state TEXT(2), postal_code INT(5), stars DECIMAL(10,1), review_count INT, is_open BOOL)")
# create category table
mycursor.execute("DROP TABLE IF EXISTS category")
mycursor.execute("CREATE TABLE category (business_id VARCHAR(255),categories VARCHAR(255), PRIMARY KEY (business_id, categories),CONSTRAINT cat_b_id_fk FOREIGN KEY (business_id) REFERENCES business (business_id) ON UPDATE CASCADE ON DELETE CASCADE)")
# create user table
mycursor.execute("DROP TABLE IF EXISTS user")
mycursor.execute("CREATE TABLE user (user_id VARCHAR(255) PRIMARY KEY, name VARCHAR(255), review_count INT, yelping_since DATETIME, average_stars FLOAT)")
# create review table
mycursor.execute("DROP TABLE IF EXISTS review")
mycursor.execute("CREATE TABLE review (review_id VARCHAR(255) PRIMARY KEY, user_id VARCHAR(255), business_id VARCHAR(255), stars INT(1), text TEXT(65535), time DATETIME, CONSTRAINT user_id_fk FOREIGN KEY (user_id) REFERENCES user (user_id) ON UPDATE CASCADE ON DELETE CASCADE, CONSTRAINT business_id_fk FOREIGN KEY (business_id) REFERENCES business (business_id) ON UPDATE CASCADE ON DELETE CASCADE)")

In [43]:
# Business dataframe creation
df_b = pd.read_json('yelp_dataset/yelp_academic_dataset_business.json', lines=True)
# delete unwanted columns
del df_b['attributes'], df_b['hours'], df_b['categories'], df_b['latitude'], df_b['longitude']

In [44]:
# category dataframe creation
df_p = pd.read_json('yelp_dataset/yelp_academic_dataset_business.json', lines=True)
cat_info = []
for index, row in df_p.iterrows():
    try:
        #split the category values by "," and append in list
        for cat in row["categories"].split(","):
            cat_info.append((row["business_id"],cat))
    except:
        continue
df_cat = pd.DataFrame(cat_info,columns=['business_id','categories'])

In [45]:
# Insert data into business table from json file
df_b.to_sql(con=dbEngine, schema="yelpdb", name="temporary_table", if_exists="replace", index=False, chunksize=1000)
with dbEngine.begin() as cnx:
    insert_sql = 'INSERT IGNORE INTO business (SELECT * FROM temporary_table)'
    cnx.execute(insert_sql)

In [46]:
# create user dataframe
chunks = pd.read_json('yelp_dataset/yelp_academic_dataset_user.json', lines=True, chunksize = 5000)
users = pd.DataFrame()
for chunk in chunks:
    users = pd.concat([users, chunk])
    del users['useful'], users['funny'], users['cool'], users['elite'], users['friends'], users['fans'], users['compliment_hot'], users['compliment_more'], users['compliment_profile'], users['compliment_cute'], users['compliment_list'], users['compliment_note'], users['compliment_plain'], users['compliment_cool'], users['compliment_funny'], users['compliment_writer'], users['compliment_photos']

In [47]:
# Insert data into user table from user dataframe
users.to_sql(con=dbEngine, schema="yelpdb", name="temporary_table", if_exists="replace", index=False, chunksize=5000)
with dbEngine.begin() as cnx:
    insert_sql = 'INSERT IGNORE INTO user (SELECT * FROM temporary_table)'
    cnx.execute(insert_sql)

In [48]:
# Review json has more than 6 M lines of data to handle that we need to take additional measures and create review dataframe
# dataframe creation is done in chunks since it is a large file which cannot be read at once. 
# In addition we specify the datatype so it takes considerably less time
b_pandas = []
r_dtypes = {"review_id": np.string_,
            "user_id": np.string_,
            "business_id": np.string_,
            "stars": np.int32, 
            "text": np.string_, 
            "time": np.datetime64
           }
with open("yelp_dataset/yelp_academic_dataset_review.json", "r") as f:
    reader = pd.read_json(f, orient="records", lines=True, 
                          dtype=r_dtypes, chunksize=5000)
        
    for chunk in reader:
        reduced_chunk = chunk.drop(columns=['useful', 'funny','cool'])
        b_pandas.append(reduced_chunk)
    
df_review = pd.concat(b_pandas, ignore_index=True)

In [1]:
review_sample = df_review.sample(10000)

NameError: name 'df_review' is not defined

In [91]:
#Insert data into review table from the dataframe
review_sample.to_sql(con=dbEngine, schema="yelpdb", name="temporary_table", if_exists="replace", index=False, chunksize=10000)
with dbEngine.begin() as cnx:
    insert_sql = 'INSERT IGNORE INTO review (SELECT * FROM temporary_table)'
    cnx.execute(insert_sql)

In [92]:
#Insert data into category table from the dataframe
df_cat.to_sql(con=dbEngine, schema="yelpdb", name="temporary_table", if_exists="replace", index=False, chunksize=10000)
with dbEngine.begin() as cnx:
    insert_sql = 'INSERT IGNORE INTO category (SELECT * FROM temporary_table)'
    cnx.execute(insert_sql)